## IRIS

In [1]:
## On importe les librairies dont on aura besoin
import numpy as  np
import sklearn as svm
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.pyplot import plot
from matplotlib.pyplot import axis
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

## On Telegarge le Fichier

In [2]:
# On charge le CSV
df_Iris = pd.read_csv('iris.csv')
pd.options.display.max_columns = 40

In [3]:
df_Iris.head ()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
df_Iris.shape
df_Iris.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [5]:
df_Iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [6]:
df_Iris.groupby ([ "species"]).describe()

                sepal_length                                              \
                       count   mean       std  min    25%  50%  75%  max
species
Iris-setosa             50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
Iris-versicolor         50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
Iris-virginica          50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

                sepal_width                                                \
                      count   mean       std  min    25%  50%    75%  max
species
Iris-setosa            50.0  3.418  0.381024  2.3  3.125  3.4  3.675  4.4
Iris-versicolor        50.0  2.770  0.313798  2.0  2.525  2.8  3.000  3.4
Iris-virginica         50.0  2.974  0.322497  2.2  2.800  3.0  3.175  3.8

                petal_length                                               \
                       count   mean       std  min  25%   50%    75%  max
species
Iris-setosa             50.0  1.464  0.173511  1.0  1.4  1.50  1.575  1.9
Iris-versicolor         50.0  4.260  0.469911  3.0  4.0  4.35  4.600  5.1
Iris-virginica          50.0  5.552  0.551895  4.5  5.1  5.55  5.875  6.9

                petal_width
                      count   mean       std  min  25%  50%  75%  max
species
Iris-setosa            50.0  0.244  0.107210  0.1  0.2  0.2  0.3  0.6
Iris-versicolor        50.0  1.326  0.197753  1.0  1.2  1.3  1.5  1.8
Iris-virginica         50.0  2.026  0.274650  1.4  1.8  2.0  2.3  2.5

In [7]:
sns.pairplot (df_Iris, hue= "species")
sns.set_theme()

In [ ]:
X = df_Iris.drop("species", axis=1)
y = df_Iris["species"]
knn = KNeighborsClassifier(n_neighbors=5)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
knn.fit(X_train, y_train)

KNeighborsClassifier()

In [ ]:
knn.score (X_test, y_test )

1.0